:root {
  --solid-gray-500: hsl(0, 0%, 42%);
  --solid-gray-950: hsl(0, 0%, 7%);
  --solid-yellow: hsl(47, 88%, 63%);
  --solid-white: hsl(0, 0%, 100%);
  /*  */
  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
  /*  */
  --fs-base: clamp(
    0.75rem,
    0.49038461538461536rem + 0.5128205128205128vw,
    0.875rem
  );
  --fs-1: clamp(0.875rem, 0.6153846153846154rem + 0.5128205128205128vw, 1rem);
  --fs-2: clamp(1.25rem, 0.7307692307692307rem + 1.0256410256410255vw, 1.5rem);
}
/*  */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/figtree-v7-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/figtree-v7-latin-800.woff2") format("woff2");
}
/*  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: var(--solid-yellow);
  font-size: var(--fs-base);
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  padding-block: clamp(
    9.6875rem,
    1.3798076923076916rem + 16.41025641025641vw,
    13.6875rem
  );
}
/*  */
main {
  background: var(--solid-white);
  border: 1px solid var(--solid-gray-950);
  width: min(calc(100% - 48px), 24rem);
  box-shadow: 8px 8px 0 black;
  border-radius: 20px;
  margin-inline: auto;
  margin-bottom: 30px;
}

.wrapper {
  margin: var(--spacing-300);
}

img.blog-image {
  display: block;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.content {
  margin-block: var(--spacing-300);
}

.category {
  background: var(--solid-yellow);
  color: var(--solid-gray-950);
  display: inline-block;
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 4px;
  font-weight: 800;
  margin-bottom: var(--spacing-150);
}

.published-date {
  color: var(--solid-gray-950);
  display: block;
  margin-bottom: var(--spacing-150);
}

h1 {
  margin-bottom: var(--spacing-150);
}

h1 a {
  color: var(--solid-gray-950);
  font-size: var(--fs-2);
  font-weight: 800;
}

h1 a:hover {
  color: var(--solid-yellow);
}

p {
  color: var(--solid-gray-500);
  font-size: var(--fs-1);
}

.author {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.userpic {
  width: 32px;
  height: 32px;
}

.authorname {
  font-weight: 800;
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
